<footer
  class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-600 text-xs font-medium"
  id="landing-footer"
>
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
      <li><a href="#">Metalico © 2024</a></li>
      <li><a href="#">contacto@metalico.mx</a></li>
      <li><a href="#">Tel: 55 5243 6900</a></li>
      <li><a href="#">WhatsApp: 55 3034 1307</a></li>
      <li>
        <a href="#"
          >Av. Presidente Plutarco Elías Calles 300, Col. Tlazintla, Iztacalco,
          C.P. 08710, Ciudad de México.</a>
      </li>
    </ul>
  </nav>
</footer>
